@charset "UTF-8";

body {
	font-size:2.5em;
}

h1 {
	font-size:2.25em;
	margin-bottom: -0.25em;
}

h2 {
	font-size:1.2em;
}

.slides{
	position:absolute;
	height:100%;
	width:100%;
	background: linear-gradient(bottom, #000, #666);
	background: -o-linear-gradient(bottom, #000, #666);
	background: -moz-linear-gradient(bottom, #000, #666);
	background: -webkit-linear-gradient(bottom, #000, #666);
	background: -ms-linear-gradient(bottom, #000, #666);
	color:#fff;
	overflow:hidden;
}

section {
	width:100%;
	height:100%;
	position:absolute;
	padding:36px;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	visibility:hidden;
	transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	opacity:0;
	transform:rotate3d(1, 1, 0, 60deg);
	-moz-transform:rotate3d(1, 1, 0, 60deg);
	-webkit-transform:rotate3d(1, 1, 0, 60deg);
	-o-transform:rotate3d(1, 1, 0, 60deg);
}

section.active {
	visibility:visible;
	overflow-y:auto;
	opacity:1;
	-webkit-overflow-scrolling: touch;
	transition: all 1.5s;
	-moz-transition: all 1.5s;
	-webkit-transition: all 1.5s;
	-o-transition: all 1.5s;
	transform:none;
	-moz-transform:none;
	-webkit-transform:none;
	-o-transform:none;
}

section.titleSlide, section.endSlide {
	padding-top:25%;
	background:#67BEEA url(../images/logo.png) left top no-repeat;
}

section p {
	float: left;
    width: 50%;
}

section img {
	margin-top:1.25em;
	width:40%;
	float:right;
}

@media all and (max-width: 1000px) {
	body {
		font-size:1.5em;	
	}
}

@media all and (max-width: 799px) {
	section p, section img {
		width:100%;
	}
	
	section {
		padding: 0 16px;
	}
	
	ul {
		padding-left:14px;
	}
	
}

body:-webkit-full-screen {
	width:100%;
	height:100%;
	background-color: black;
	position:fixed;
	top:0; right:0; bottom:0; left:0;
	margin:0;
	box-sizing:border-box;
	object-fit:contain;
}

a {
	text-decoration: none;
	display: inline-block;
	padding: 8px 16px;
}

a:hover {
	background-color: #ddd;
	color: black;
}

.previous {
	background-color: lightgray;
	color: black;
}

.next {
	background-color: green;
	color: white;
}

.round {
	border-radius: 50%;
}

.left {
	position: fixed;
	top: 50%;
	z-index: 20;
}


.right {
	position: fixed;
	top: 50%;
	right: 0%;
	z-index: 20;
}